@import "../../../../_mixins";

:host {
  @include app-window;
}

.calendar-grid {
	// border: 1px solid red;
  @include app-window-height;
  display: flex;
  flex-direction: column;

  .calendar-row {
    // border: 1px solid green;
    display: flex;
    flex-grow: 1;
    height: 20%;
  }
}
