:host {
  border: 1px solid rgb(218, 218, 218);
  width: 14.3%;

  .day-number {
    // border: 1px solid red;
    width: 100%;
    text-align: center;
    padding: 3px 0;
  
    &.current {
      // border: 1px solid red;
      background-color: rgb(16, 27, 237);
      color: #fff;
    }

  }
}

:host(:hover) {
  background-color: pink;

  .day-number {
    background-color: rgb(7, 7, 67);
    color: magenta;
  }
}