@import "../../../../_mixins";

:host {
  @include calendar-day-block;
  background-color: #fff;

  .day-number {
    // border: 1px solid red;
    width: 100%;
    text-align: center;
    padding: 3px 0;
  
    &.current {
      // border: 1px solid red;
      background-color: rgb(16, 27, 237);
      color: #fff;
    }

  }

  &:first-child {
    // border-left: 3px solid red;
    border-left: none;
  }
  &:last-child {
    // border-right: 3px solid red;
    border-right: none;
  }
}

:host(:hover) {
  background-color: pink;
  cursor: pointer;

  .day-number {
    background-color: rgb(7, 7, 67);
    color: magenta;
  }
}